name: DevOps CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve

      - name: Get Public IP
        id: tf_output
        working-directory: ./terraform
        run: echo "PUBLIC_IP=$(terraform output -raw public_ip)" >> $GITHUB_ENV

      - name: Create SSH Key File
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > ~/.ssh/devops1-key.pem
          chmod 600 ~/.ssh/devops1-key.pem
          echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
          
      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install ansible -y

      - name: Create Dynamic Inventory
        run: |
          echo "[web]" > inventory.ini
          echo "${PUBLIC_IP} ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/devops1-key.pem ansible_become=true ansible_become_method=sudo" >> inventory.ini

      - name: Run Ansible Playbook
        working-directory: ./ansible
        run: ansible-playbook -i ../inventory.ini docker-install.yml